@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

#active {
    background-color: #141e0d00;
    color: #f5f106;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color: #000000;
    color: #c70b0b;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: #ecd1a0;
}

#hero-msg h4 {
    text-align: center;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

#hero-img {
    width: 100%;
}

.home-grid {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
} 

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.rivers-card h2 {
    color: #0B23F7
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.camping-card h2 {
    color: #7D8403
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.rapids-card h2 {
    color: #270BC7
}

#background {
    height: 725px;
    background-color: #82777747;
    grid-column: 1/11;
    grid-row: 4/9;
}

.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

body {
    background-color: #fcfbfb; 
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #09090980;
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 20px;
}

.button-box {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
}

.book {
    background-color: #ecd1a0;
    color: #140278;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: rgba(0, 0, 0, 0.285);
    color: #f7660bc6;
}

.join {
    background-color: #eceeef4c;
    color: #140278;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: rgba(0, 0, 0, 0.285);
    color: rgba(11, 35, 247, 0.776);
}

.msg {
    background-color: #a0a9ade4;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #a59b31;
    font-family: 'Rock Salt', Helvetica, sans-serif;
}

.msg p {
    color: #7D8403;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #a0a9ade4;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #7f7f7f;
    text-decoration: underline;
}
footer a {
    color: #060d6a;
    text-decoration: none;
}
footer a:hover {
    color: #a59b31;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #270bc7cf;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

main section img {
    box-sizing: border-box;
}



/* Page 2 (Rivers) CSS code: */

#hero2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -100px;
}
#hero-box2 {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg2 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg2 h1 {
    text-align: center;
    color: #2e05fc;
}
#hero-msg2 h4 {
    text-align: center;
    color: #3e03fffd;
    font-family: Roboto, Helvetica, sans-serif;
}
#hero-img2 {
    width: 100%;
}

.home-title2 {
    color: #270bc7cf;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.rivers-grid {
    text-align: left;
    font-family: Roboto, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

.river1box {
    margin-top: 165px;
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}
.river1box h2 {
    text-align: center;
    margin: 45px;
    color: #8B8D90;
}
.river1msg {
    margin: 25px;
    color: #7D8403;
    font-size: 30px;
    font-family: Roboto, Helvetica, sans-serif;
    grid-column: 1/4;
    grid-row: 2/3;
}

.river2box {
    margin-top: 70px;
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
}
.river2box h2 {
    text-align: center;
    margin: 45px;
    color: #8B8D90;
}
.river2msg {
    margin: 25px;
    color: #7D8403;
    font-size: 30px;
    font-family: Roboto, Helvetica, sans-serif;
    grid-column: 1/4;
    grid-row: 4/5;
}

.river3box {
    margin-top: 70px;
    grid-column: 1/4;
    grid-row: 5/6;
    text-align: center;
}
.river3box h2 {
    text-align: center;
    margin: 45px;
    color: #8B8D90;
}
.river3msg {
    margin: 25px;
    color: #7D8403;
    font-size: 30px;
    font-family: Roboto, Helvetica, sans-serif;
    grid-column: 1/4;
    grid-row: 6/7;
}

.river-img {
    width: 85%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;   
}
.river-img:hover {
    opacity: .9;
    transform: scale(1.02);
}

.msg2 {
    background-color: #a0a9ade4;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 1/4;
    grid-row: 7/8;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: auto;
    margin-top: 145px;
}
.msg2:hover {
    opacity: .9;
    transform: scale(1.02);
}
.msg2 h2 {
    color: #270BC7;
    font-family: 'Rock Salt', Helvetica, sans-serif;
    text-align: center;
}
.msg2 p {
    color: #0B23F7;
    font-family: Roboto, Helvetica, sans-serif;
    padding-bottom: 15px;
    font-size: 30px;
}


/* Contact Us CSS code: */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}





/* FOR MOBILE DISPLAY:  */


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    #hero2, .rivers-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero2 {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg2 {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg2 h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .home-title2 {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .msg2 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}





